fastapi==0.115.0
uvicorn[standard]==0.30.6

# Linting & formatting
flake8==7.1.1
black==24.4.2

# Testing
pytest==8.3.3
httpx==0.28.1
requests==2.32.3

# Fix CVEs
python-multipart==0.0.18
starlette==0.40.0

# Build tools
setuptools>=78.1.1
